body {
    background-color: #D8DFE8;
}

.header, .footer {
    display: flex;
    justify-content: center;
    background-color: #0A3871;
    border-radius: 15px;
}

.header {
    align-items: center;
    height: 10vh;
    margin: 1vh;
    box-shadow:  1.5vh 1.5vh 4vh #949494,
                -1.5vh -1.5vh 4vh #ffffff;
}

.icon-header, .icon-footer {
    height: 3.3vh;
}

.header-title {
    font-size: 2vh;
    color: #D8DFE8;
}

.footer {
    flex-direction: row;
    position: fixed;
    gap: 2.5%;
    bottom: 0;
    left: 1vh; 
    right: 1vh; 
    height: 5vh;
    margin: 0 0 1vh 0 ;
    box-shadow:  20px -20px 60px #949494,
                -20px 20px 60px #ffffff;
    margin-top: 5%;
}
.media-footer, .input, .buttons, .copy, .load-text {
    display: flex;
}

.media-footer {
    align-items: center;
    font-size: 1.5vh;
}

.text-footer {
    text-decoration: none;
    color: #D8DFE8;
    font-weight: 200;
    margin-left: 3px;
}

.content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    padding: 5% 5% 0 5%;
    gap: 5%;
    padding-top: 5%;
}

.input {
    flex-direction: column;
}

.input textarea {
    width: 95%;
    min-height: 45vh;
    border: none;
    outline: none;
    padding: 5vh;
    font-size: 2vh;
    background-color: #D8DFE8;
    color: #0A3871;
}

.msg-main {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3vh;
    margin-bottom: 15vh;
    border-radius: 15px;
    padding: 15%;

}

.buttons {
    flex-direction: row;
    justify-content: center;
    gap: 5%;    
}

.button-main, .copy-btn {
    border-radius: 20px;
    height: 5vh;
    width: 20vh;
    border: solid #0A3871 1.5px;
    font-weight: 300;
    font-size: 1.5vh;
    cursor: pointer;
}

#criptografar {
    background-color: #0A3871;
    color: #FFF;
}

#descriptografar {
    background-color: #D8DFE8;
    color: #0A3871;
}

.copy, .gif-load {
    align-self: center;
    flex-direction: column;
}

.copy {
    gap: 5vh;
    background-color: #FFF;
    margin-top: 5vh;
}

.gif-load {
    width: 100%;
}

.load-text {
    font-size: 1.8vh;
    font-weight: 400;
    text-align: center;
}

.swal2-popup {
    width: 40vh ;
    background-color: #0A3871;
    color: #FFF;

}
.swal2-title {
    font-size: 2vh;
    font-weight: 300;

}